* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #f8dddd;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

#nav-bar {
    width: 100%;
    /* margin: 0.5rem 0; */
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    /* font-size: 0.85rem; */
    color: #3f3e3e;
    margin: 1em 0;
    font-size: 1.05rem;
}

#nav-bar .logo {
    cursor: pointer;
    margin-left: 1.5em;
}

#nav-bar ul {
    display: flex;
}

#nav-bar ul li {
    margin-right: 1.5em;
    list-style: none;
}

#nav-bar ul li a {
    text-decoration: none;
    transition: all 0.5s;
    color: #3f3e3e;
}

#nav-bar ul li a:hover {
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #000;
}

.content-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    display: flex;
    background: url("./img/photo-sneaker.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

.banner-img img {
    /* margin: 20%; */
    width: 100%;
    height: 500px;
    display: flex;
    background: #f8dddd;
    border: 1px solid black;
}

.banner h1 {
    font-size: 4.5rem;
    font-weight: 700;
    color: #fff;
    border: 1px solid rgb(204, 18, 18);
    /* padding: 20px; */
}

#services,
#blog,
#contact {
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#services h3,
#blog h3,
#contact h3,
#collection h3 {
    font-size: 1.25rem;
    border-bottom: 1px solid #3f3e3e;
    color: #3f3e3e;
    padding-bottom: 0.7rem;
}

.services-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#collection {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collection-box {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.collection-content-box {
    cursor: pointer;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    width: 18rem;
    height: 20rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

.collection-content-box .collection-img {
    width: 100%;
    height: 70%;
}

.collection-content-box .collection-img img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.collection-box #collection-btn {
    width: 4.5rem;
    padding: 0.25rem 0;
    position: relative;
    right: -13rem;
    bottom: 1.38rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    background: #3f3e3e;
    color: #f8dddd;
    transition: all 0.5s;
    letter-spacing: 0.08rem;
}

.collection-box #collection-btn:hover {
    background: #f8dddd;
    color: #272727;
}

.collection-content-box:hover {
    transform: scale(1.05);
}

.collection-content-box h4 {
    font-size: 0.85rem;
    font-weight: 700;
    margin: 0.3em 0 0 0.5em;
    letter-spacing: 0.14rem;
}

.collection-content-box p {
    font-size: 0.8rem;
    margin: 0.3em 0 0.3em 0.5em;
}

.collection-content-box h6 {
    font-weight: 800;
    margin-left: 0.5em;
}

#blog-content {
    margin: 0.85rem 0;
    /* width: 75rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid whitesmoke;
    background: whitesmoke;
}

#blog-content #blog-img {
    width: 15rem;
    height: 15rem;
    margin: 0.7rem;
}

#blog-content #blog-img img {
    width: 15rem;
    height: 15rem;
    border-radius: 0.4rem;
}

#blog-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    flex-direction: column;
}

#blog-text p {
    position: relative;
    left: 0;
    line-height: 1.45rem;
    width: 40rem;
    bottom: 1.2rem;
}

#blog-text button {
    cursor: pointer;
    position: relative;
    left: -16.5rem;
    bottom: 0.5rem;
    border: none;
    outline: none;
    font-size: 1.05rem;
    padding: 0.4rem 0.75rem;
    border-radius: 0.25rem;
    background: #3f3e3e;
    color: #f8dddd;
    transition: all 0.5s;
}

#blog-content button:hover {
    background: #f8dddd;
    color: #272727;
}

.contact-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.contact-box #input-mail {
    width: 30rem;
    height: 2.5rem;
    margin: 0.7rem 0 0 0;
    border: none;
    outline: none;
    font-size: 1.05rem;
    padding: 0.4rem 0.75rem;
    border-radius: 0.25rem;
}

.contact-box textarea {
    width: 30rem;
    height: 15rem;
    margin: 0.7rem 0;
    border: none;
    outline: none;
    font-size: 1.05rem;
    padding: 0.4rem 0.75rem;
    border-radius: 0.25rem;
}

.contact-box .send {
    cursor: pointer;
    position: absolute;
    left: 0;
    border: none;
    outline: none;
    font-size: 1.05rem;
    padding: 0.4rem 0.75rem;
    border-radius: 0.25rem;
    background: #3f3e3e;
    color: #f8dddd;
    transition: all 0.5s;
}

.contact-box .send:hover {
    background: #272727;
    color: #f8dddd;
}

#footer {
    padding: 0.35em 0;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #3f3e3e;
    color: wheat;
}

#footer p {
    margin: 1.5em 0;
    font-size: 1.25rem;
}

/* #footer .social-icon {
    margin-bottom: 0;
    border: 1px solid white;
}

#footer .social-icon .icon {
    cursor: pointer;
    margin: 0 1rem;
    font-size: 2.5rem;
    color: #3f3e3e;
    background: wheat;
    font-size: 2.5rem;
} */

@media (max-width: 1054px) {
    .banner h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 1024px) {
    .banner h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    #nav-bar {
        width: 100%;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #nav-bar ul {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* border: 1px solid black; */
    }

    #nav-bar ul li {
        margin: 0;
        width: 100%;
        display: block;
        padding: 0.4rem 0 0 0;
        border-top: 0.01rem solid whitesmoke;
    }

    #nav-bar ul li:hover {
        width: 100%;
        background: #fff;
    }

    #nav-bar ul li a:hover {
        background: none;
        border: none;
    }

    #blog-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 80%;
    }

    #blog-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        width: 20rem;
    }

    #blog-text p {
        /* position: relative; */
        width: 10rem;
    }

}