* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8dddd;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

#nav-bar {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 0.85rem;
    color: #3f3e3e;
}

#nav-bar .logo {
    cursor: pointer;
}

#nav-bar ul {
    display: flex;
}

#nav-bar ul li {
    padding: 0 10px 0 0;
    list-style: none;
}

#nav-bar ul li a {
    text-decoration: none;
    transition: all 0.5s;
    color: #3f3e3e;
}

#nav-bar ul li a:hover {
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #000;
}

.content-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    display: flex;
    background: url("./img/photo-sneaker.jpg");
    /* border: 1px solid black; */
}

.banner-img img {
    margin: 20%;
    width: 250px;
    height: 250px;
    display: flex;
    background: #f8dddd;
    border: 1px solid black;
}

.banner h1 {
    font-size: 4.5rem;
    font-weight: 700;
    color: #fff;
    border: 1px solid rgb(204, 18, 18);
    padding: 20px;
}

#services,
#blog,
#contact {
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#services h3,
#blog h3,
#contact h3,
#collection h3 {
    border-bottom: 1px solid #3f3e3e;
    color: #3f3e3e;
    padding-bottom: 0.7rem;
}

.services-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#collection {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collection-box {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.collection-content-box {
    cursor: pointer;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    width: 18rem;
    height: 20rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

.collection-content-box .collection-img {
    width: 100%;
    height: 70%;
}

.collection-content-box .collection-img img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.collection-content-box:hover {
    transform: scale(1.05);
}

.collection-content-box h4 {
    margin: 0.3em 0 0 0.5em;
}

.collection-content-box p {
    font-size: 0.8rem;
    margin: 0.3em 0 0.3em 0.5em;
}

.collection-content-box h6 {
    font-weight: 800;
    margin-left: 0.5em;
}

#blog-content {
    margin: 0.85rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid whitesmoke;
    background: whitesmoke;
}

#blog-content #blog-img {
    width: 15rem;
    height: 15rem;
    margin: 0.7rem;
}

#blog-content #blog-img img {
    width: 15rem;
    height: 15rem;
    border-radius: 0.4rem;
}

#blog-content p {
    position: relative;
    display: flex;
    align-items: center;
    width: 35rem;
    height: 15rem;
    margin: 1rem;
    line-height: 1.3rem;
    display: flex;
    flex-direction: column;
}

#blog-content p button {
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 2.2rem;
    border: none;
    outline: none;
    font-size: 1.05rem;
    padding: 0.4rem 0.75rem;
    border-radius: 0.25rem;
    background: #f89c9c;
    color: #3f3e3e;
    transition: all 0.5s;
}

#blog-content p button:hover {
    background: #f8dddd;
    color: #272727;
}

.contact-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-box #input-mail {
    width: 20rem;
    height: 2.5rem;
    margin: 0.7rem 0 0 0;
    border: none;
    outline: none;
    font-size: 1.05rem;
    padding: 0.4rem 0.75rem;
    border-radius: 0.25rem;
}

.contact-box textarea {
    width: 20rem;
    height: 15rem;
    margin: 0.7rem 0;
    border: none;
    outline: none;
    font-size: 1.05rem;
    padding: 0.4rem 0.75rem;
    border-radius: 0.25rem;
}

.contact-box .send {
    cursor: pointer;
    position: absolute;
    left: 0;
    border: none;
    outline: none;
    font-size: 1.05rem;
    padding: 0.4rem 0.75rem;
    border-radius: 0.25rem;
    background: #f89c9c;
    color: #3f3e3e;
    transition: all 0.5s;
}

.contact-box .send:hover {
    background: #f8dddd;
    color: #272727;
}

#footer {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    background: #3f3e3e;
    color: wheat;
}